<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="QuanLyNhaHang" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\DELL\source\repos\DoAn_LTTQ\desktop-lp7slp.QuanLyNhaHang.dbo;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>