<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn_LTTQ.Properties.Settings.QuanLyNhaHangConnectionString"
            connectionString="Data Source=LAPTOP-0G3MKQED\SQLEXPRESS;Initial Catalog=QuanLyNhaHang;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
</configuration>