<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="DoAn_LTTQ.Properties.Settings.QuanLyNhaHangConnectionString" connectionString="Server=LAPTOP-0G3MKQED\SQLEXPRESS;Database=QuanLyNhaHang;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>